[Desktop Entry]
Encoding=UTF-8
Name=Link to General-Purpose Instructions - x86 Assembly Language Reference Manual
Type=Link
URL=https://docs.oracle.com/cd/E18752_01/html/817-5477/ennbz.html#eoizi
Icon=text-html
